<% layout('layouts/boilerplate') %> 

<div class="card" style="width: 50rem;">
    <div class="card-body">
      <h2 class="card-title pb-3">Inventory Manager</h2>
      <p class="card-text">Full-stack inventory manager application for a music store by Danny Ru.</p>
      <p class="card-text">Frontend built with HTML, CSS, JavaScript, and Bootstrap.</p>
      <p class="card-text">Backend built with Node.js (Express). Built a REST API to faciliate CRUD (create, read, update, destroy) functionality. Code structure follows the MVC model and EJS was used as the templating engine.</p>
      <p class="card-text">In this project, I made a data seeder (populatedb.js) which seeds the Mongo database with mock data for a hypothetical music store. There are many applications other different applications for this app.</p>
      <a href="categories/" class="btn btn-primary">Check inventory</a>
    </div>
  </div>
