<% layout('layouts/boilerplate') %>
<h1>All Categories of instruments</h1>
<ul>
    <% for (let category of categories) {%>
        <li><a href="/categories/<%= category._id %>"><%= category.name %></a></li>
    <% }%>
</ul>
<div>
    <a href="/categories/new">Add category</a>
</div>
