<% layout('layouts/boilerplate') %> 

<h1 class="mb-5">Create a new item</h1>
<form action="/items" method="POST">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
        <input type="text" id="name" name="item[name]" class="form-control">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Cateogory</span>
        <input type="text" id="category" name="item[category]" class="form-control">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Stock</span>
        <input type="text" id="stock" name="item[stock]" class="form-control">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
        <input type="text" id="price" name="item[price]" class="form-control">
    </div>
    <button class="btn btn-primary">Add Item</button>
</form>
